section form {
    max-width: 30rem;
    margin: auto;
}

section form #search-button {
    background-color: orange !important;
    transition: .2s ease-in-out;
}

section form #search-button:hover {
    background-color: #fdc134be !important;
}