#hero {
    margin-top: 10%;
}

#index-signup-btn a {
    background: transparent !important;
    border: 1px solid var(--color-primary) !important;
    padding: 10px 22px;
    max-width: 10rem;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

#index-signup-btn:hover {
   opacity: .8;
}

section .container-fluid .index-btns ul #index-login-btn a {
    background: var(--color-primary);
    padding: 10px 22px;
    max-width: 10rem;
    border-radius: 4px;
    color: #fff;
    text-align: center;
}

section .container-fluid .index-btns ul #index-login-btn:hover {
    opacity: .8;
}