{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title %}About Us{% endblock %}

{% block content %}
<section class="min-vh-100" style="margin-top: 8%;">
    <div class="container text-light">
        <p class="fs-2 fw-bold text-center">
            About Us
        </p>
        <p class="text-center fs-1">
            👋
        </p>
        <p class="text-center">
            Proximity is a platform that keeps you in the loop about whats happening in your neighbourhood, from Events, Announcements and even alerts.
            As Proximity is intended as a tool to bring the community together, you will also find your neighbourhoods emergency contact numbers such as the police, hospital and fire departments.
            Businesses can also register with Proximity for easier reach.  
        </p>
    </div>
</section>
{% endblock content %}