{%extends 'base.html'%}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/hoods.css' %}">
{% endblock %}

{% block title %}Hoods{% endblock %}

{% block content %}
<section class="content container">

    <div>
        <form action="{% url 'hoods' %}" method="post">
            {% csrf_token %}
            <div class="input-group my-3">
                <input type="text" name="hood-query" class="form-control shadow-none" placeholder="neighbourhood"
                    required>
                <button class="btn text-light shadow-none" type="submit" id="search-button">Search</button>
            </div>
        </form>

        <div class="text-center">
            <a href="{% url 'add-hood' %}">
                <button class="btn btn-sm btn-outline-primary">Add Neighbourhood</button>
            </a>
        </div>
    </div>

    <div class="row mt-2">
        {% if hoods %}
        {% for hood in hoods %}
        <div class="col-md-6 col-lg-4 my-4">
            <div class="card" style="background: #2d384bda !important;">
                <div class="card-header">
                    <h5>
                        Hood Name: <a href="{% url 'hood-detail' hood.id %}">
                             <span class="badge bg-secondary">
                                {{ hood.name }}
                             </span>
                        </a>
                    </h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <p>
                            <span class="fw-bold">Location:</span> {{ hood.location|title }}
                        </p>
                        <p>
                            <span class="fw-bold">Occupants:</span> {{ hood.number_of_occupants}}
                        </p>
                        <p>
                            <span class="fw-bold">Health Department:</span> {{ hood.health_dept_contact}}
                        </p>
                        <p>
                            <span class="fw-bold">Fire Department:</span> {{ hood.fire_dept_contact}}
                        </p>
                        <p>
                            <span class="fw-bold">Police Department:</span> {{ hood.police_dept_contact}}
                        </p>
                    </p>
                </div>
            </div>
        </div>

        {% endfor %}
        {% else %}
        <p class="fs-4 fw-light text-center">Oops! No Hoods at this moment</p>
        {% endif %}
    </div>
</section>
{% endblock %}