<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <h1>Proximity</h1>
        </a>

        <i class='mobile-nav-toggle mobile-nav-show bx bx-menu'></i>
        <i class='mobile-nav-toggle mobile-nav-hide d-none bx bx-x'></i>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Announcements</a></li>
                <li><a href="#">Alerts</a></li>
                <li><a href="{% url 'profile' request.user %}">Profile</a></li>
                <li><a href="#">About</a></li>
                <li><a class="get-a-quote logout" href="#">Logout</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header>