{%extends 'base.html'%}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Post{% endblock title %}

{% block content %}
<section class="container">
    <div class="text-center mb-4">
        <h3 class="fw-bold">
            Post About Your Neighbourhood
        </h3>
    </div>
    <form action="{% url 'post' %}" method="post" class="mx-auto" style="max-width: 30rem;">
        {% csrf_token %}

        {{ form.media }}
        {% bootstrap_form form %}
        
        <button class="btn btn-primary w-100">Post</button>
    </form>
</section>
{% endblock content %}