{%extends 'base.html'%}
{% load django_bootstrap5 %}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/submit.css' %}">
{% endblock styles %}

{% block title %}Post{% endblock title %}

{% block content %}
<section class="container" style="margin-top: 8%;">
    <div class="text-center mb-4">
        <h3 class="fw-bold">
            Post to your Neighbourhood
        </h3>
    </div>
    <form action="{% url 'post' %}" method="post" class="mx-auto" style="max-width: 30rem;">
        {% csrf_token %}

        {{ form.media }}
        {% bootstrap_form form %}
        
        <button class="btn btn-primary w-100">Post</button>
    </form>
</section>
{% endblock content %}