{%extends 'base.html'%}
{% load static %}
{% load django_bootstrap5 %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock styles %}

{% block title %}Profile{% endblock title %}

{% block content %}
<section class="container d-flex flex-column justify-content-center align-items-center" style="margin-top: 8%;">
    <div class="profile d-flex justify-content-around">
        <div class="dp pe-5">
            {% if user.profile.profile_pic %}
            <img src="{{ user.profile.profile_pic.url }}" alt="" style="width: 5rem; height: 5rem; border-radius: 50%;">
            {% else %}
            <p
                style="width: 5rem; height: 5rem; border-radius: 50%; background-color: #74b2c3;"></p>
            {% endif %}
        </div>

        <div class="profile-info">
            <p>
                <span class="fw-bold">Username</span> <br>
                <span class="fw-bold">
                    {{user.username}}
                </span>

                {% if can_update  %}
                <a href="{% url 'update_profile' %}">
                    <button type="button" class="btn text-light btn-sm border ms-2 mt-2">Edit Profile</button>
                </a>
                {% endif %}

               <p>
                 <span class="fw-bold">Neighbourhood</span> <br>
                 <span class="fw-bold">
                     {{user.profile.neighbourhood}}
                 </span>
               </p>
            </p>

            {% if user.profile.bio %}
            <div class="bio fw-bold">
                Bio <br>
                <span class="fw-light">
                    {{user.profile.bio|safe}}
                </span>
            </div>
            {% endif %}
        </div>

    </div>

    <div class="my-posts mt-4 border-top text-center w-100">
        <p class="fs-5 fw-bold text-center pt-2">
            <i class='bx bx-grid'></i>
            POSTS
        </p>

        <div class="posts">
            {% if user.posts.all %}
            <ul class="list-group list-group-numbered" style="text-align: left;">
                {% for post in user.posts.all %}
                <li class="list-group-item text-light" style="background-color: transparent; border-color: #FFF !important;">{{ post.title }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="mt-4">YOU HAVE NO POSTS</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}